.clients {
    padding-block: 96px 0;

    @media(max-width: 768px){
        padding-block: 60px 0;
    }

    &__container {
        border-bottom: 1px solid #343140;
        padding-bottom: 96px;

        @media(max-width: 768px){
            padding-bottom: 60px;
        }

    }

    &__carousel {
        display: flex;
        align-items: center;
        mask-image: linear-gradient(
            to right,
            transparent 0%,
            #fff 10%,
            #fff 90%,
            transparent 100%
        );
    }

    .section__subtitle {
        margin-bottom: 32px;
    }
}