.clients {
    padding-block: 96px 0;

    @media(max-width: 768px){
        padding-block: 60px 0;
    }

    &__container {
        border-bottom: 1px solid #343140;
        padding-bottom: 96px;

        @media(max-width: 768px){
            padding-bottom: 60px;
        }

    }

    &__marquee {
        display: flex;
        align-items: center;
        overflow-x: hidden;
        scrollbar-width: none;
        mask-image: linear-gradient(
            to right,
            transparent 0%,
            #fff 10%,
            #fff 90%,
            transparent 100%
        );

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        padding-right: 32px;
        will-change: transform;
        animation: infiniteScroll 30s infinite linear;

        &-slide {
            flex: 0 0 200px;

            @media(max-width: 768px){
                flex: 0 0 100px;
            }

            img {
                max-width: 100%;
            }
        }
    }

    .section__subtitle {
        margin-bottom: 32px;
    }
}