.cta {

    &__inner {
        margin: 0 auto;
        max-width: 640px;
    }

    &__form {
        margin: 0 auto;
        border-radius: 16px;
        background-color: #16141c;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
        padding: 40px;
        max-width: 640px;

        @media(max-width: 768px) {
            padding: 24px;
        }
    
        &-col {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 24px;

            @media(max-width: 768px) {
                flex-direction: column;
                justify-content: flex-start;
            }

            & > * {
                width: calc(50% - 12px);

                @media(max-width: 768px) {
                    width: 100%;
                }
            }
        }

        &-row {
            width: 100%;
            & > * {
                width: 100%;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 6px;

            &:has(.wpcf7-not-valid, .field-invalid) .cta__form-label {
                color: #f64c6b;
            }
        }

        &-label {
            display: inline-block;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.43;
            color: #fff;
        }

        &-input,
        &-textarea {
            width: 100%;
            height: 44px;
            padding: 10px 14px;
            border-radius: 8px;
            background-color: #292733;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            color: #fff;
            border: 1px solid transparent;
            transition: color .3s ease, border-color .3s ease, box-shadow .3s ease;

            &::placeholder {
                color: #6d697d;
            }

            &:hover {
                border-color: #6e6b79;
            }

            &:focus {
                border-color: #7c5cff;
                box-shadow: 0 0 0 3px rgba(123, 92, 255, .25);
            }

            &.wpcf7-not-valid,
            &.field-invalid {
                border-color: #f64c6b;
                box-shadow: 0 0 0 3px rgba(246, 76, 107, 0.15);
            }
        } 

        &-textarea {
            resize: vertical;
            height: 150px;
        }

        &-accept {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;

            span {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: #a7a4b5;
                cursor: pointer;

                @media(max-width: 768px){
                    font-size: 14px;
                }

                a {
                    text-decoration: underline;
                }
            }
        }

        &-btn {
            height: 48px;
            margin-top: 12px;
        }

        .checkbox__container {
            width: 20px;
            height: 20px;
            display: block;
            position: relative;
            cursor: pointer;
            user-select: none;
            overflow: hidden;
            flex-shrink: 0;
        }

        .checkbox__container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            border-radius: 6px;
            border: 1px solid #d5d7da;
            background-color: transparent;
            transition: .3s ease;
        }

        .checkbox__container:hover input ~ .checkmark {
            border-color: #7c5cff;
        }

        .checkbox__container input:checked ~ .checkmark {
            border-color: #7c5cff;
            background-color: #7c5cff;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        .checkbox__container input:checked ~ .checkmark:after {
            display: block;
        }

        .checkbox__container .checkmark:after {
            border: solid #fff;
            border-width: 0 2px 2px 0;
            height: 9px;
            left: 7px;
            top: 4px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            width: 5px;
        }
    }

}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
    border: none !important;
    color: #f64c6b !important;
}

.wpcf7-not-valid-tip,
.wpcf7-spinner {
    display: none !important;
}

.wpcf7-form-control-wrap {
    width: 100%;
}

.wpcf7-acceptance .wpcf7-list-item {
    display: block;
    margin: 0;
}

.cta__form-accept {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.cta__form-accept + .wpcf7-list-item-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.cta__form-accept + .wpcf7-list-item-label::before {
    content: none;
}

.cta__form-accept + .wpcf7-list-item-label .label-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #a7a4b5;
    cursor: pointer;

    a {
        text-decoration: underline;
    }
}

.checkbox__container:hover .checkmark  {
    border-color: #7c5cff;
}

.cta__form-accept:checked + .wpcf7-list-item-label .checkbox__container .checkmark {
    border-color: #7c5cff;
    background-color: #7c5cff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.cta__form-accept:checked + .wpcf7-list-item-label .checkbox__container .checkmark:after {
    display: block;
}

.checkbox__container .checkmark:after {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    height: 9px;
    left: 7px;
    top: 4px;
    transform: rotate(45deg);
    width: 5px;
}

.country-select .flag-dropdown,
.country-select.inside .selected-flag,
.country-select ul.country-list {
    width: 100% !important;
}

.country-select ul.country-list {
    background-color: #292733;
    border: none;
    overflow-x: hidden;
}

.country-select ul.country-list {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.country-select ul.country-list::-webkit-scrollbar {
    display: none;
}


.country-name {
    white-space: normal;
}

.country-select .country-list li.country {
    transition: .3s ease;
    &:hover {
        background: rgba(255, 255, 255, 0.05);
        color: #ffffff;
    }
}